<p id="notice"><%= notice %></p>

<p>
  <strong>Tasty:</strong>
  <%= @survey.tasty %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @survey.presentation %>
</p>

<p>
  <strong>Atmosphere:</strong>
  <%= @survey.atmosphere %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
